h3
{
	color:red;
}

body
{
	background-color:yellow;
	color:black;
}

@media(min-width:768px){
body{
	background-color:#ff7588;
	color:#ff6756;
}
}

@media(min-width:992px){
body{
	background-color:cyan;
	color:orange;
}
}

@media(min-width:1200px){
body{
	background-color:magenta;
	color:blue;
}
}